:root {
  --background-color: #efefef;
  --text-color: #2f2f2f;
  --main-color: #2f4858;
  --second-color: #33658a;
  --light-element-color: #86bbd8;
  --accent-color: #f6ae2d;
  --white: #ffffff;
}
body {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
}
header {
  justify-content: space-between;
  width: 100%;
}
.header_main,
.logo_main,
.nav_main,
.nav_main ul,
.login_main,
.sign_up,
.login {
  display: flex;
  align-items: center;
}

.header_main {
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background-color: var(--background-color);
}

.footer_main {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 215px;
  padding: 0 20px;
  background-color: var(--light-element-color);
}

.logo_main {
  margin-left: 15px;
  align-items: center;
}

.nav_main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_main li,
.nav_main p {
  margin: 0 15px;
  font-size: 1.2rem;
}

.nav_main a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav_main a:hover,
.nav_main p {
  color: var(--accent-color);
  border-bottom: 2px solid var(--main-color);
  cursor: pointer;
}

.sign_up,
.login {
  width: 85px;
  height: 40px;
  font-weight: bold;
  color: var(--background-color);
  text-decoration: none;
  border: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--main-color);
}

.sign_up:hover,
.login:hover,
.login_form button:hover {
  color: var(--accent-color);
  transition: color 0.3s;
}

.login_div {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: block;
  justify-content: center;
  margin-top: 50px;
  padding: 15px;
  width: 300px;
  height: 150px;
}
.login_form button {
  float: right;
  width: 60px;
  height: 30px;
  font-weight: bold;
  color: var(--background-color);
  text-decoration: none;
  border: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--main-color);
}

/* Cabinet */
.cabinet_main_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}

.cabinet_header {
  background-color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.cabinet_header input[type="text"] {
  padding: 5px;
  border: solid 1px var(--main-color);
  border-radius: 4px;
  width: 300px;
}

.cabinet_header .user-info {
  padding: 10px;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.cabinet_content {
  flex-grow: 1;
  padding: 20px;
}
/* Menu */
.sidebar {
  background-color: var(--main-color);
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: static;
  transition: width 0.3s ease;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar.collapsed {
  width: 60px;
}
.sidebar-header {
  padding: 20px;
  text-align: center;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  margin: 5px 0;
  color: #333;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
  color: var(--white);
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar ul li i {
  font-size: 18px;
}

.sidebar ul li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar.collapsed ul li span {
  display: none;
}

/* Submenu */
