{% extends "main/layout_main.html" %} {% load static %} {% block title %}
tendbid {% endblock %} {% block header %}
<div class="login_main" style="float: right">
  <a type="button" class="sign_up" href="{% url 'register' %}"> Реєстрація </a>
</div>
{% endblock %}
{% block body_main %}

<div class="cabinet_content">
    <div class="login_form">
    <h1>Вхід</h1>
    <form method="post">
        {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Вхід</button>
    </form>
    </div>
</div>
{% endblock %}